@page
@model IndiaModel
@{
    ViewData["Title"] = "India";
}
<link rel="stylesheet" href="css/India.css" />
<h1>@ViewData["Title"]</h1>


<h2>TAJ MAHAL</h2>
<div class="taj">
    
        
        <img src="css/tajmahal.jpg" alt="W3Schools.com" width="200" height="200">
        
    <p>
        <b>@ViewData["tajmahal"]</b>
        </p>
        </div>



<h2>RED FORT (LAL QUILA)</h2>
        <div class="redfort">

                
        <img src="css/redfort.jpg" alt="W3Schools.com" width="200" height="200">
                
    <p>
        <b>@ViewData["redfort"]</b>
            </p>
        </div>




<h2> GOLDEN TEMPLE (AMRISTAR)</h2>
        <div class="goldentemple">
            
                
        <img src="css/goldentemple.jpg" alt="W3Schools.com" width="200" height="200">
                
    <p>
        <b>@ViewData["goldentemple"]</b>
            </p>
        </div>



        <h2>AMER FORT</h2>

        <div class="amerfort">
            
               
        <img src="css/amerfort.jpg" alt="W3Schools.com" width="200" height="200">
                
    <p>
        <b>@ViewData["amerfort"]</b>
            </p>
        </div>




        <h2> HUMAYUN'S TOMB</h2>
        <div class="humayun">
           
               
        <img src="css/humayunstomb.jpg" alt="W3Schools.com" width="200" height="200">
               
    <p>
        <b>@ViewData["humayun"]</b>
            </p>
        </div>





  

