@page
@model IndonesiaModel
@{
    ViewData["Title"] = "Indonesia";
}
<link rel="stylesheet" href="css/Indonesia.css" />
<h1>@ViewData["Title"]</h1>

<h2>SEMINYAK BEACH</h2>
<div class="seminyak">
    
  
            <img src="css/seminyak.jpg" alt="W3Schools.com" width="200" height="200">
       
    <p>
        <b>@ViewData["seminyak"]</b>
    </p>
</div>




<h2> BOROBUDUR </h2>
<div class="borobudur">
    
        
            <img src="css/borobudur.jpg" alt="W3Schools.com" width="200" height="200">
     
    <p>
        <b>@ViewData["borobudur"]</b>
    </p>
</div>



<h2>GILI ISLAND</h2>

<div class="gili">
    
       
            <img src="css/gili.jpg" alt="W3Schools.com" width="200" height="200">
     
    <p>
        <b>@ViewData["gili"]</b>
    </p>
</div>




<h2> MOUNT BROMO </h2>
<div class="bromo">
    
        
            <img src="css/bromo.jpg" alt="W3Schools.com" width="200" height="200">
       

    <p>
        <b>@ViewData["bromo"]</b>
    </p>
</div>





<h2> TANA TORAJA</h2>
<div class="tana">
    
        
            <img src="css/tana.jpg" alt="W3Schools.com" width="200" height="200">
     
    <p>
        <b>@ViewData["tana"]</b>
    </p>
</div>
