@page
@model MalaysiaModel
@{
    ViewData["Title"] = "Malaysia";
}
<link rel="stylesheet" href="css/Malaysia.css" />
<h1>@ViewData["Title"]</h1>

<h2>SIPADAN ISLAND</h2>
<div class="sipadan">
    
       
            <img src="css/sipadan.jpg"  width="200" height="200">
     
    <p>
        <b>@ViewData["sipadan"]</b>
    </p>
</div>




<h2> PANGKOR ISLAND</h2>
<div class="pangkor">
    
        
            <img src="css/pangkor.jpg"  width="200" height="200">


      
    <p>
        <b>@ViewData["pangkor"]</b>
    </p>
</div>



<h2>KINABATANGAN ISLAND</h2>

<div class="kinabatangan">
    
       
            <img src="css/kinabatangan.jpg"  width="200" height="200">
       
    <p>
        <b>@ViewData["kinabatangan"]</b>
    </p>
</div>




<h2> PERHENTIAN ISLAND</h2>
<div class="perhentian">
    
        
            <img src="css/perhentian.jpg"  width="200" height="200">
     
    <p>
        <b>@ViewData["perhentian"]</b>
    </p>
</div>





<h2> LANGKAWI ISLAND</h2>
<div class="langkawi">
   
      
            <img src="css/langkawi.jpg"  width="200" height="200">
        
    <p>
        <b>@ViewData["langkawi"]</b>
    </p>
</div>