@page
@model PhilippinesModel
@{
    ViewData["Title"] = "Philippines";
}
<link rel="stylesheet" href="css/Philippines.css" />
<h1>@ViewData["Title"]</h1>



<h2>BANAUE RICE TERRACES</h2>
<div class="banaue">
    
        
            <img src="css/banaue.jpg" alt="W3Schools.com" width="200" height="200">
      
        <p>
       <b> @ViewData["banaue"]</b>
    </p>
    </div>




<h2> KAWASAN FALLS</h2>
<div class="kawasan">
    
        
            <img src="css/kawasan.jpg" alt="W3Schools.com" width="200" height="200">
    
    <p>
       <b>@ViewData["kawasan"]</b>
    </p>
    </div>



<h2>CHOCOLATE HILLS</h2>

<div class="chocolatehills">
    
       
            <img src="css/chocolatehills.jpg" alt="W3Schools.com" width="200" height="200">
 
    <p>
        <b>@ViewData["chocolatehills"]</b>
    </p>
</div>




<h2> BORACAY BEACH</h2>
<div class="boracay">

        
            <img src="css/boracay.jpg" alt="W3Schools.com" width="200" height="200">
    
        <p>
        <b>@ViewData["boracay"]</b></b
    </p>
</div>





<h2> MAYON VOLCANO</h2>
<div class="mayon">
    
            <img src="css/mayon.jpg" alt="W3Schools.com" width="200" height="200">
    <p>
        <b>@ViewData["mayon"]</b>
    </p>
</div>
