@page
@model ThailandModel
@{
    ViewData["Title"] = "Thailand";
}
<link rel="stylesheet" href="css/Thailand.css" />
<h1>@ViewData["Title"]</h1>

<h2>RAILAY BEACH</h2>
<div class="railay">
    
       
            <img src="css/railaybeach.jpg" alt="W3Schools.com" width="200" height="200">
        
    <p>
        <b>@ViewData["railay"]</b>
    </p>
</div>




<h2> KOH PHI PHI</h2>
<div class="kohphiphi">
    
        
            <img src="css/kohphiphi.jpg" alt="W3Schools.com" width="200" height="200">
        
    <p>
        <b>@ViewData["kohphiphi"]</b>
    </p>
</div>



<h2>THE GRAND PALACE</h2>

<div class="grandpalace">
    
        
            <img src="css/grandpalace.jpg" alt="W3Schools.com" width="200" height="200">
        
    <p>
        <b>@ViewData["grandpalace"]</b>
    </p>
</div>




<h2> CHIANG MAI</h2>
<div class="chiangmai">
    
    
            <img src="css/chiangmai.jpg" alt="W3Schools.com" width="200" height="200">
        
    <p>
        <b>@ViewData["chiangmai"]</b></p>
    </>
</div>





<h2> KHAO YAI</h2>
<div class="khaoyai">
   
        
            <img src="css/khaoyai.jpg" alt="W3Schools.com" width="200" height="200">
      
    <p>
        <b>@ViewData["khaoyai"]</b>
    </p>
</div>
